<div class="card__actions-container center border-radius flex-inline align-center justify-center gap" style="--bubble-color: <%= @bubble.color %>">
  <% if bubble.popped? %>
    <span class="card__pop-message">Completed by <%= bubble.popped_by.name %> on <%= local_datetime_tag(bubble.popped_at, style: :shortdate) %>.</span>
    <%= button_to bubble_pop_path(bubble), method: :delete, class: "btn btn--plain borderless fill-transparent" do %>
      <span>Un-do</span>
    <% end %>
  <% else %>
    <div class="flex-inline center position-relative">
      <details class="expander" data-controller="details" data-details-target="details" data-action="keydown.esc->details#close click@document->details#closeOnClickOutside">
        <summary class="expander__button btn borderless">
          Close as
          <%= icon_tag "caret-down" %>
        </summary>
        <div class="expander__content btn borderless">
          <% Current.account.pop_reasons.labels.each do |label| %>
            <%= button_to bubble_pop_path(bubble, reason: label), class: "expander__item btn" do %>
              <span class="overflow-ellipsis"><%= label %></span>
            <% end %>
          <% end %>
        </div>
      </details>
    </div>

    <span class="card__pop-message">
      <% if bubble.doing? %>
        Returns to <em>Considering</em> if no activity <%= local_datetime_tag(bubble.auto_reconsider_at, style: :indays) -%>.
      <% else %>
        Auto-closes if no activity <%= local_datetime_tag(bubble.auto_pop_at, style: :indays) -%>.
      <% end %>
    </span>
  <% end %>
</div>
